&mx25lm51245 {
    /delete-node/ partitions;

    partitions {
        compatible = "fixed-partitions";
        #address-cells = <1>;
        #size-cells = <1>;

        storage_partition: partition@0 {
            label = "storage";
            reg = <0x00000000 DT_SIZE_K(32)>;
        };

        circuitpy_partition: partition@8000 {
            label = "circuitpy";
            reg = <0x00008000 (DT_SIZE_M(64) - DT_SIZE_K(32))>;
        };
    };
};

&sram5 {
    status = "disabled";
};

&rng {
    status = "okay";
};

&fdcan1 {
    status = "disabled";
};

/ {
    chosen {
        /delete-property/ zephyr,canbus;
    };
};

zephyr_udc0: &usbotg_hs {
    pinctrl-0 = <&usb_otg_hs_dm_pa11 &usb_otg_hs_dp_pa12>;
    pinctrl-names = "default";
    status = "okay";
};

#include "../app.overlay"
