&ext_flash {
    partitions {
        /delete-node/ partition@7800000;

        storage_partition: partition@7800000 {
			compatible = "zephyr,mapped-partition";
            label = "storage";
            reg = <0x7800000 DT_SIZE_K(32)>;
        };

        circuitpy_partition: partition@7808000 {
			compatible = "zephyr,mapped-partition";
            label = "circuitpy";
            reg = <0x7808000 (DT_SIZE_M(8) - DT_SIZE_K(32))>;
        };
    };
};

&rng {
    status = "okay";
};
